<div>
	<nav class="home_nav">
		<a href="javascript:;" class="homeNav_sikao">
			<i><img src="public/images/ind1.png" alt=""></i>

			<span>司考</span>
		</a>
		<a href="javascript:;"  class="homeNav_fashuo">
			<i><img src="public/images/index2.png" alt=""></i>
			<span>法硕</span>
		</a>
		<a href="javascript:;"  class="homeNav_zhishi">
			<i ></i>
			<span>知识点</span>
		</a>
	</nav>
	<nav class="home_nav">
		<a href="javascript:;"  class="homeNav_yingyu">
			<i ></i>
			<span>考研英语</span>
		</a>
		<a href="javascript:;"  class="homeNav_zhengzhi">
			<i ></i>
			<span>考研政治</span>
		</a>
		<a href="javascript:;" class="homeNav_kecheng">
			<i ></i>
			<span>课程</span>
		</a>
	</nav>
</div>