<nav class="tabs tabs-icon-top footer">
  <a href="javascript:;" class="tab-item" ui-sref="home"  nav-transition="none" ui-sref-active="active">
    <i></i>
    <span>首页</span>
  </a>
  <a href="javascript:;" class="tab-item" ui-sref="map"  nav-transition="none" ui-sref-active="active">
    <i ></i>
     <span>题库</span> 
  </a>
  <a href="javascript:;" class="tab-item" ui-sref="zijia"  nav-transition="none" ui-sref-active="active">
    <i ></i>
     <span>知识点</span> 
  </a>
  <a href="javascript:;" class="tab-item" ui-sref="detail"  nav-transition="none" ui-sref-active="active">
    <i></i>
     <span>快讯</span>

  </a>
  <a href="javascript:;" class="tab-item" ui-sref="mine"  nav-transition="none" ui-sref-active="active">
    <i></i>
     <span>我</span>  
  </a>
</nav>

